<main class="main">
  <div class="label">Конвертер валют</div>

  <div class="form">
    <div class="country">
      <img src="../assets/russia.png">
      ₽
    </div>
    <input type="number" placeholder="Введите значение" [(ngModel)]="inputValue" (ngModelChange)="onInputChange($event)">
  </div>

  <div class="item_container">
    <div *ngFor="let element of data.values()" class="item">
      <div  class="country">
        <img src="{{element.img}}">
        <div>{{element.sign}}</div>
      </div>

      <div>{{element.value}}</div>
    </div>
  </div>
</main>

<router-outlet />
